<h4>Мой профиль</h4>
<div class="block">
<form [formGroup]="myForm" class="col s12 l6" (ngSubmit)="onSubmit()">


  <div class="input-field">
    <input formControlName="first_name" id="first_name" type="text" required>
    <label for="first_name">Имя:</label>
  </div>

  <div class="input-field">
    <input formControlName="second_name" id="second_name" type="text" required >
    <label for="second_name">Фамилия:</label>
  </div>

  <div class="input-field">
    <input formControlName="description" id="description" type="text" required>
    <label for="description">Описание:</label>
  </div>

  <div>
    <button
      type="submit"
      class="waves-effect waves-light btn">
      Сохранить изменения
    </button>
  </div>

</form>
</div>
