<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
</head>
<body>
<h2 style="padding: 0 20% ; text-align: center" >Добро пожаловать в "Траектория+"</h2>
<br>
<h6 style="padding: 0 20% ; text-align: center">Здесь расположена информация об учебных программах и планах, а также рабочих программ дисциплин Университета ИТМО</h6>
<br>
<div class="button-wrapper">
  <a routerLink="/login"> <button type="submit" class="modal-action btn waves-effect">Войти в систему</button></a>
</div>
<br>
<div class="button-wrapper">
  <a routerLink="/register"> <button type="submit" class="modal-action btn waves-effect"> Регистрация </button></a>
</div>

<br>
<p style="text-align: center"><a href="https://itmo.ru/ru/" ><img width="15%" height="15%" src="https://cifru.itmo.ru/static/img/itmo_small_white_rus.png" alt="Университет ИТМО"> </a></p>
</body>
</html>
