<h4>Список пользователей</h4>

<div *ngIf="user$ | async as users; else loader">
  <table  *ngIf="users.length !==0; else empty">
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Логин</th>
      <th>Роль</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.second_name }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.login }}</td>
      <td>{{ user.role }}</td>
      <td>

          <span>
            <button class="btn btn-small orange" [routerLink]="['/user', user._id]">
              <i class="material-icons">edit</i>
            </button>
          </span>
      </td>

      <td>
        <span>
            <button class="btn btn-small red" (click)="deleteUser(user._id!.toString())">
              <i class="material-icons">delete</i>
            </button>
          </span>
      </td>
    </tr>
  </table>
  <ng-template #empty>
    <div class="center">
      Пользователи не загружены
    </div>>
  </ng-template>
</div>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

