<div class="page-title">
  <h4> Документы </h4>
  <button class="waves-effect waves-light btn grey darken-1"
          routerLink="/document/new" *ngIf="isAdmin">Добавить документ</button>
</div>

<div *ngIf="flagOOP">
  <h5>Планы ООП</h5>
  <div class="row"
       *ngIf="docsOOP$ | async as docs; else loader">
    <div class="col s12">
      <div class="collection" *ngIf="docs.length !==0; else empty">
        <a
          *ngFor="let doc of docs"
          [routerLink]="['/document', doc._id]" class="collection-item">{{doc.name}}</a>
      </div>
      <ng-template #empty>
        <div class="center">
          Образовательные программы не загружены
        </div>
      </ng-template>
    </div>
  </div>
</div>

<br>

<div *ngIf="flagFGOS">
  <h5>ФГОС</h5>
  <div class="row"
          *ngIf="docsFGOS$ | async as docs; else loader">
  <div class="col s12">
    <div class="collection" *ngIf="docs.length !==0; else empty">
      <a
        *ngFor="let doc of docs"
        [routerLink]="['/document', doc._id]" class="collection-item">{{doc.name}}</a>
    </div>
    <ng-template #empty>
      <div class="center">
        Документы ФГОС не загружены
      </div>
    </ng-template>
  </div>
</div>
</div>

<br>

<div *ngIf="flagRPD">
  <h5>РПД</h5>
  <div class="row"
       *ngIf="docsRPD$ | async as docs; else loader">
    <div class="col s12">
      <div class="collection" *ngIf="docs.length !==0; else empty">
        <a
          *ngFor="let doc of docs"
          [routerLink]="['/document', doc._id]" class="collection-item">{{doc.name}}</a>
      </div>
  <ng-template #empty>
    <div class="center">
      Документы РПД не загружены
    </div>
  </ng-template>
</div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

